.pagination {
   width: 100%;
   text-align: center;
}

.page {
   padding: 5px 15px;
   color: wheat;
   font-size: 14px;
   background: transparent;
   cursor: pointer;
   border: none;
   margin: 3px;
   border-radius: 8px;
   background: #9e9ca5;
   box-shadow: 9px 9px 18px #646268,
      0px 0px 8px #d8d6e2;
   font-family: 'Fuzzy Bubbles', cursive;
}

.page:hover {
   color: rgb(11, 64, 240);
}

.page_current {
   padding: 5px 15px;
   color: wheat;
   font-size: 14px;
   background: transparent;
   cursor: pointer;
   border: none;
   margin: 3px;
   border-radius: 8px;
   background: rgb(11, 64, 240);
   box-shadow: 9px 9px 18px #646268,
      0px 0px 8px #d8d6e2;
   font-family: 'Fuzzy Bubbles', cursive;
}