.heroes_id_card {
   width: 60%;
   margin: 0 auto;
   font-size: 1.5rem;
   font-family: 'Fuzzy Bubbles', cursive;
   font-weight: 700;
   text-align: center;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   color: rgb(31, 5, 43);
   margin-top: 20px;
}

.img {
   border-radius: 10px;
}

.green {
   color: green;
}

.red {
   color: red;
}

/* MEDIA */
@media (max-width: 500px) {
   .heroes_id_card {
      width: 90%;
      box-sizing: border-box;
      font-size: 1.5rem;
      
   }
}