.my_input {
   outline: none;
   font-family: 'Fuzzy Bubbles', cursive;;
   border: 1px solid wheat;
   border-radius: 10px;
   background-color: transparent;
   color: white;
}

.my_input::-webkit-input-placeholder { 
   color: wheat; 
}