.planet_item {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.planet_box {
   width: 20%;
   text-align: center;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   margin: 15px;
   cursor: pointer;
   transition: all 0.4s linear;
}

.planet_box:hover {
   scale: 1.1;
   box-shadow: 0px 0px 8px black;
   background: rgba(0, 0, 0, 0.2);
}

.name_planet {
   color: blue;
   font-family: 'Fuzzy Bubbles', cursive;
   font-size: 1.7rem;
}

/* MEDIA */
@media (max-width: 500px) {
   .planet_item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
   }
   .planet_box {
      width: 90%;
   }
}