body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #000000;
}

.page {
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 3%, #ffffff 50%, #000000 100%);
  width: 100%;
  color: red;
}

a {
  text-decoration: none;
}

/* TRANSITION GROUP (HeroesItem) */
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}