.select_btn {
   padding: 5px 10px;
   color: wheat;
   font-size: 14px;
   background: transparent;
   cursor: pointer;
   margin: 1px;
   border-radius: 8px;
   background: transparent;
   border: none;
   font-family: 'Fuzzy Bubbles', cursive;
   
}

.select_btn:hover {
   color: rgb(11, 64, 240);
}

.select_btn:focus {
   border: 1px solid rgb(0, 255, 0);
   color: rgb(0, 255, 0);
}

.select_btn:nth-child(3):focus {
   border: 1px solid rgb(179, 0, 0);
   color: rgb(179, 0, 0);
}

.select_btn:nth-child(4):focus {
   border: 1px solid rgb(176, 179, 0);
   color: rgb(176, 179, 0);
}