.main_page_block {
   display: flex;
   justify-content: space-around;
}

.main_page_block div {
   max-width: 33%;
   text-align: center;
}

.main_page_text {
   font-size: 5rem;
   font-family: 'Black And White Picture', sans-serif;
}

.img {
   width: 50%;
   filter: drop-shadow(3px 5px 5px #000);
}

/* MEDIA */
@media (max-width: 500px) {
   .main_page_block {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .img {
      width: 100%;
   }

   
}