.navbar {
   display: flex;
   font-size: 1.3rem;
   border: 1px solid black;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   color: white;
   font-family: 'Rubik Iso', cursive;
   flex-wrap: wrap;
}

.navbar_logo {
   width: 40%;
   filter: drop-shadow(3px 5px 5px rgb(255, 255, 255));
}

.navbar_list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   margin-right: 10px;
}

.navbar_list li {
   margin-right: 20px;
}

.navbar a {
   color: white;
}

.navbar_list li:hover {
   color: rgb(131, 181, 255);
   text-shadow: 0px -2px 4px ghostwhite;
}

.summary {
   cursor: pointer;
   margin: 20px;
}

.summary:hover {
   color: rgb(131, 181, 255);
   text-shadow: 0px -2px 4px ghostwhite;
}

/* MEDIA */
@media (max-width: 500px) {
   .navbar_logo {
      width: 100%;
   }

   .navbar {
      font-size: 1rem;
   }

   .navbar_list {
      margin-left: 30px;
   }
}