.heroes_page {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   font-size: 30px;
   color: rgb(0, 0, 0);
   justify-items: center;
   align-items: center;
   font-family: 'Fuzzy Bubbles', cursive;
   font-size: 260%;
   margin: 20px;
}

.box_hero {
   display: flex;
   padding: 10px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   min-width: 100%;
   min-height: 100%;
   text-align: center;
   transition: all 0.4s linear;
  }

.box_hero:hover {
   box-shadow: 0px 0px 8px black;
   background: rgba(0, 0, 0, 0.2);
}

.red {
   color: red;
}

.green {
   color: rgb(8, 218, 8);
}

.box_image {
   border-radius: 55%;
   width: 90%;
   filter: drop-shadow(3px 5px 5px #000);
}

.box_text {
   padding: 5px;
}

.pagination {
   width: 100%;
}

.page {
   padding: 5px 15px;
   color: wheat;
   font-size: 14px;
   background: transparent;
   cursor: pointer;
   border: none;
   margin: 3px;
   border-radius: 8px;
   background: #9e9ca5;
   box-shadow: 9px 9px 18px #646268,
      0px 0px 8px #d8d6e2;
   font-family: 'Fuzzy Bubbles', cursive;
}

.page:hover {
   color: rgb(11, 64, 240);
}

.page_current {
   padding: 5px 15px;
   color: wheat;
   font-size: 14px;
   background: transparent;
   cursor: pointer;
   border: none;
   margin: 3px;
   border-radius: 8px;
   background: rgb(11, 64, 240);
   box-shadow: 9px 9px 18px #646268,
      0px 0px 8px #d8d6e2;
   font-family: 'Fuzzy Bubbles', cursive;
}

.search_input {
   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.select_status {
   font-family: 'Fuzzy Bubbles', cursive;
   color: wheat;
   font-size: 0.9rem;
   margin-left: 10%;
}

.select_status_zone {
   width: 40%;
}

/* MEDIA */
@media (max-width: 500px) {
   .heroes_page {

      grid-template-columns: repeat(1, 1fr);
      margin: 20px;
   }

   .box_hero {
      flex-direction: column;
      max-width: 90%;

   }

   .select_status_zone {
      width: 100%;
      margin-top: 10px;
   }
}